dspy==2.6.24
duckdb==1.2.2
faiss==1.5.3
fastapi==0.115.12
langchain==0.3.25
langchain_community==0.3.24
langchain_huggingface==0.2.0
langchain_ollama==0.3.3
numpy==2.2.6
openai==1.79.0
pandas==2.2.3
polars==1.29.0
pydantic==2.11.4
pymilvus==2.5.9
pytablewriter==1.2.1
python-dotenv==1.1.0
sentence_transformers==4.1.0
streamlit==1.37.1
transformers==4.52.1
uvicorn==0.34.2
